.imgContainer {
  width: 100%;
  height: 500px;
}

@media (max-width: 440px) {
  .imgContainer {
    height: 400px;
  }
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.container p {
  margin: 3rem 0;
}

.container p a {
  text-decoration: none;
}
